variables are {{a}} and {{b}}
{% if a>b %}
The larger number is {{a}}
{% endif %}
{% for eachchar in mystring%}
This is {{eachchar}}
{% endfor %}
{% for eachpkg in myList%}
The pkg is {{eachpkg}}
{% endfor %}
